$text_color: #112d49;
$main_background_color: #112d49;
$secondary_background_color: #ffffff;
$secondary_text_color: #ffffff;
$header_font_weight: 550;
$bold_font_weight: 650;
$border_radius: 5px;
$font_size_main: 30px;
