$text_color: #112d49;
$main_background_color: #112d49;
$main_text_opacity: #112d499f;
$secondary_background_color: #ffffff;
$background_color_selected: #94bdb9;
$secondary_text_color: #ffffff;
$header_font_weight: 550;
$bold_font_weight: 650;
$border_radius: 5px;
$font_size_main: 30px;
$font_size_medium: 25px;
$font_size_secondary: 20px;
