@import '../common_styles/commonStyles.scss';

.sendListTitle {
  text-align: center;
  font-size: $font_size_main;
  font-weight: $bold_font_weight;
  color: $secondary_text_color;
  margin: 10px auto 0 auto;
}
