@import '../common_styles/commonStyles.scss';

.userContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 20px;
}

.title {
  text-align: center;
  font-size: $font_size_main;
  font-weight: $bold_font_weight;
}

.userList {
  margin-top: 50px;
}
